body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #cce5ff, #e6f2ff);
    color: #003366;
    margin: 0;
}

header {
    background-color: #0047AB;
    color: white;
    padding: 10px 0 5px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px; /* space between logo and name */
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: 30px auto;
    background: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0047AB;
    color: white;
    margin-top: 40px;
}
